.formularioLogin{
	width: 400px;
	margin-top: 150px;
}

.form-control{
	margin-top:10px;
}

.btn{
	margin-top: 10px;
}

.inserir{
	margin-top: 20px;
}

.imagemBanner{
	margin-bottom: 10px;
	float: left;

}

#btnInserirImagem{
	margin-left: 200px;
}

#myTabContent{
	width: 500px;
}

.inputTelefone{
	width: 150px;
	margin-left: 65px !important;
}

.inputTelefoneDDD{
	width: 60px;
	float: left;
}

.telefoneContato{
	width: 230px;
}

.inputEndereco{
	width: 380px;
	float: left;
}

.inputNumero{
	width: 80px;
	margin-left: 390px !important;
}