.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #398439 !important;
}

.side-nav li a:hover, .side-nav li a:focus {
    outline: medium none;
    background-color: #398439 !important;
}

.entrada{
    width: 70px;
}

.saida{
    width: 70px;
}


#wrapper {
padding-left: 0;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#wrapper.toggled {
padding-left: 250px;
}
#sidebar-wrapper {
z-index: 1000;
position: fixed;
left: 250px;
width: 0;
height: 100%;
margin-left: -250px;
overflow-y: auto;
background: #000;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
width: 250px;
}
#page-content-wrapper {
width: 100%;
padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
position: absolute;
margin-right: -250px;
}
/* Sidebar Styles */
.sidebar-nav {
position: absolute;
top: 0;
width: 250px;
margin: 0;
padding: 0;
list-style: none;
}
.sidebar-nav li {
text-indent: 20px;
line-height: 40px;
}
.sidebar-nav li a {
display: block;
text-decoration: none;
color: #999999;
}
.sidebar-nav li a:hover {
text-decoration: none;
color: #fff;
background: #398439;
}
.sidebar-nav .active{
    background: #398439;
}

.sidebar-nav .active a{
    color: #FFF;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
height: 65px;
font-size: 18px;
line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
color: #fff;
background: none;
}
@media(min-width:768px) {
    #wrapper {
    padding-left: 250px;
    }
    #wrapper.toggled {
    padding-left: 0;
    }
    #sidebar-wrapper {
    width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
    width: 0;
    }
    #page-content-wrapper {
    padding: 20px;
    }
    #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    }
}

.well {
    min-height: 20px;
    padding: 0px !important;
    margin-bottom: 0px !important;
    background-color: #FFF !important;
    border: 0px !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.00) inset !important;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
}

select{
    width: 300px;
    text-align: center;
}
input{
    width: 300px;
}

label{
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primary {
    color: #FFF !important;
    background-color: #398439 !important;
    border-color: #398439 !important;
	margin-top: 20px;
    margin-bottom: 50px;
}

.day{
    cursor: pointer;
}

.prev{
    cursor: pointer;
}

.next{
    cursor: pointer;
}

.rodape{
    margin-top: 200px;
}

.inputData{
	text-align: center;
}

.ddd{
	width: 60px;
}

.telefone{
	width: 300px;
}

.telefoneTel{
	margin-top: -74px !important;
	margin-left: 70px;
}

#calendar {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 10px;
}