/* CSS Página Index */

.conteudoIndex{
	margin-top:40px;
}

/* Fim CSS Página Index */

/* CSS Página Localização */
.mapa{
	margin-top:10px;
}
/* Fim CSS Página Localização */

/* CSS Página Equipe */
.cargos{
	text-align: center;
}

.tituloEquipe{
	margin-top: 20px;
	margin-left: 20px;
}

.img-circle{
	margin-left: 70px;
}
/* Fim CSS Página Equipe */

/* CSS Página Ambiente */
.ambiente{
	text-align: center;
	
}

.ambiente li{
	list-style: none;
}

.ambiente li a{
	list-style: none;
	text-decoration: none;

}
/* Fim CSS Página Ambiente */

.bulletsMenu{
	list-style-type:none;
}

.rodape{
	margin-top:20px;
}

/* CSS Página Contato */
.conteudoContato{
	margin-top:10px;
}
/* Fim CSS Página Contato */

/* CSS Página Serviços */
.servicosCabelo li{
	margin-left: 20px;
	font-size: 15px;
}

.ilustacaoServicos{
	margin-top: 70px;
}
/* Fim CSS Página Serviços */
